header  {
    background-color: lightgray;
    position: sticky;
    top: 0;
    text-align: center;
    border-style: solid;
    border-width: 3px;
}  


nav ul {
    text-align: center;
}

nav ul li {
    display: inline-block;
    font-size: 24px;
    padding: 24px;
}
 aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    position: fixed;
    font-style: italic;
    background-color: lightgrey;
    top: 140px;
 }

 p, h2, h3{
    text-align: center ;
 }

 


form{
   margin: 0 auto;
   width: 200px;
}

html{
    position: relative;
    min-height: 100vh;
}

#three_cards,
#two_cards {
    display: flex;
}

.card {
    border: 2px solid blue;
    color: black;
    margin: 48px 24px 24px;
    padding: 12px 12px 24px;
    text-align: center;
    box-shadow: 4px 4px 8px 0 grey;
    flex: 1;
    display: flex;
    flex-direction: column; 
    background-color: lightgrey;
}

.card p {
    font-size: 18px;
    flex: 1;
    margin-top: 0px;
}



footer{
    bottom:0;
    width: 100vw;
    background-color: lightgray;
    padding: 12px;
    left: 0px;
    border-style: solid;
    border-width: 3px;
}

