@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

h2{
    font-family: 'DynaPuff', cursive;
    font-weight: 500;
}

header,footer {
    background-color: lightsalmon;
}

header h1 {
    padding: 60px;
    text-align: center;
    font-family: 'DynaPuff'
    cursive;
    font-weight: 500;
}

contain{
    width: 85vw;
    margin: 0 auto;
}

main h2 {
    color:skyblue;
    margin-bottom: 25px;
}

section.card p {
    font-size: 14px;
    line-height: 20px;
}

.clear {
    clear: both;
}

section.card #image_container {
    width: 300px;
    float: left;
    padding: 0 25px;
}