
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 200px;
}


header {
    background-color: darksalmon;
    padding: 25px;
    border-bottom: 5px double coral;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 50px;
}
nav a, nav a:visited {
    color: black;
    text-decoration: none;
    transition: all 1s;
}
nav a :hover {
    color: teal;
    text-decoration: underline;
}

main {
    background-color: peachpuff;

}

h1 , hr {
    color: teal;
    text-align: center;
    width: 500px;
    margin: 0 auto;
    font-size: 50px;
}
#first-line {
    border: none;
    border-bottom: 5pxdouble teal;
    width:
    margin
}
