

.top_section{
    position: relative;
    background-image: url(../images/hulu-bg.jpeg);
    background-size: cover;
    height: 100vh;
    background-position: no repeat;
    color: white;
}

.top_section .top {
    position: absolute;
    top: 0;
    left: 0;
    height:  10rem;
    width: 100%;
    display: grid; align-items: center;
    justify-content: end;
}

.login_link{
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: bold;
    margin-right: 2rem;
}

.top_section .bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25rem;
    background-color: red;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    padding: 2rem;
    background-color: linear-gradient(
        179.81deg,
        rgba(4,4,4,0.7)0.17%,
        rgba(4,4,4,0.45)85.02%,
        rgba(4,4,4,0.3%)112.52%
    );
    text-align: center;
}


.top_section .logo {
    height: 3rem;
}

.top_section .title {
    color: green;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 3;
}

.top_section .title .descritpion{
    display: inline-block;
    padding: 1.5rem 3rem;
    color: white;
    text-transform: uppercase;
    border: 0.2rem solid white;
    border-radius: 0.5rem;
    font-size: 1.3rem;
    font-weight: 600;
}

.top_section .middle {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
    padding-top: 15vh;
    margin: 0 auto;
    max-width: 80rem;
}

.middle_banner {
    padding: 0 2rem;
}

.middle-banner img {
    height: 100%;
    width: 100%;
}

.top_section .middle .subtitle {
    margin-top: 0.5rem;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.4;
}

.bundle_button {
    background-color: green;
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 0.5rem;
    margin: 2.5rem 0;
    margin-left: 40%;
    width: 80%;
    max-width: 30rem;
    height: 5rem;
}

.parent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
}

.container{
    display: flex;
}

.title_2{
    color: green;
}